
body{
	background-color: #f1ebec;
	font-family: Arial;
}

#texto{
	padding-top: 20px;
font: bold 30px Tahoma;
width: 100%;
align-items: center;


}
#centro{

	font: bold 30px Tahoma;
/*	width: 100%;
	padding-left: 1050px;*/
	}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #7798e7;
	border-bottom: solid 5px #7798e7;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #c7dbf9;
	color: white;
}
