

<body>
  <div class="contenido">
    <div class="articulos">
        <div class="secciones" #texto>
          <div>
            <h2>SOBRE NOSOTROS</h2>
            <p>
              Somos una empresa orgullosamente mexicana, forjada con el trabajo de un visionario emprendedor que puso los cimientos y preparó a su familia con los principios de trabajo, compromiso responsabilidad y visión, valores que hoy nos distinguen.

 

              Nuestro crecimiento desde 1956 hasta hoy ha sido con pasos firmes, con nuestros dos conceptos de tiendas, Steren y Steren Shop, hoy tenemos más de 400 tiendas en toda la República Mexicana donde ofrecemos asesoría personalizada para cada cliente, un catálogo con más de 4,000 productos, nuestro Programa de Lealtad Steren Card, la Extensión de Garantía, y nuestra revista Solutions con promociones y sugerencias del mes.
              
               
              
              Tenemos presencia en más de 1,500 puntos de venta en autoservicios y 9 Centros de Distribución en la Ciudad de México, Monterrey, Guadalajara, Tijuana, Centro y Suramérica, además, oficinas de control de calidad para todos los productos en nuestro país y en Shangai, China.
              
               
              
              La experiencia ElectricPanas traspasó las fronteras con nuestra expansión a Guatemala, Costa Rica, Colombia, El Salvador, Panamá y Ecuador. Estos países hermanos nos han abierto sus puertas y el concepto de Soluciones en electrónica ya está presente con más de 15 tiendas al día de hoy.
              
               
              
              Otro canal de venta que ofrecemos para comodidad de las personas que no tienen tiempo de visitarnos físicamente, o que ya son consumidores por internet, es nuestra Tienda en Línea www.steren.com.mx, donde tenemos una amplia gama de productos como accesorios para computadoras, Antenas HD, Cables HDMI, Repetidores Wi-Fi, Cámaras de seguridad, Cables VGA, Audífonos, Micrófonos, Pilas, Bafles, bocinas, Conectores, Amplificadores, Multímetros, Arduino, Drones, Kits para armar y asesoría a través de un chat en tiempo real.
              
               
              
              Nuestro objetivo es tener clientes contentos y satisfechos, para ello buscamos certificar nuestros procesos y hoy en día somos ISO 9001:2015, también tenemos un 01 800 en el cual atendemos más de 10,000 llamadas cada mes, de las cuales el 90% son de soporte para clientes Steren Card, para conocer o instalar los productos que compraron, preguntar ubicación de tiendas, soporte a ventas y el resto son dudas, comentarios y sugerencias; siempre encontrarán una voz amable, paciente que los guía y asesora por teléfono, Twitter, Facebook, y las principales redes sociales. Así es Steren. 
              
            </p>
        </div>
  
    </div>
    <div class="secciones" #texto>
      <div>
        <h2>FILOSOFÍA ELECTRIC PANAS</h2>
        <p>
        MISIÓN y  VISIÓN:
        Mejorar la vida de las personas con soluciones en tecnología.
    Ser una empresa en constante crecimiento, rentable y vanguardista con excelencia operativa y vocación de servicio.
          Consolidarnos como marca global y omnicanal generando valor agregado a nuestros colaboradores, la mejor experiencia de compra a nuestros clientes y acciones que impacten positivamente en el entorno
        VALORES:
          
          Inclusión,
          
          Integridad,
          
          Reinvención,
          
          Servicio al cliente
        </p>
    </div>

</div>
  </div>
  <div class="menu-secundario">


  </div>
  </div>
  <footer>
    <p>  Política de calidad

    

      Estamos   comprometidos con la comercialización de un amplio surtido de productos electrónicos que satisfagan los requerimientos y expectativas de nuestros clientes y partes interesadasa través de un correcto proceso logístico, cultura de innovación, trabajo en equipo, desarrollo del personal y excelencia en nuestros servicios, dentro de un ambiente laboral sano, comprometidos con el medio ambiente y la sociedad, logrando así el crecimiento de nuestra organización y la mejora continua de los procesos.
    </p>
  </footer>

  <br><div class="container">
    <div class="row">
        <div class="col-3"><button class="btn btn-primary btn-lg active" type="button"  (click)="hablar(texto)">Leer</button></div>
        <div class="col-3"><button class="btn btn-primary btn-lg active" type="button"  (click)="resumen()">Reanudar</button></div>
        <div class="col-3"><button class="btn btn-primary btn-lg active" type="button"  (click)="pause()">Pause </button></div>
        <div class="col-3"><button class="btn btn-primary btn-lg active" type="button"  (click)="cancelar()">Cancelar </button></div>
      </div></div>
    </body>