
<app-navbar></app-navbar>

<div class="text-center" class ="container">
<h3>Necesitas ayuda </h3>
<p>preguntas frecuentes</p>
<p><span> <strong>1) ¿Donde puedo recojer mi compra ?</strong> </span></p>
<p> <strong>Respuesta :</strong>Puedes recojerlo en cualquiera de nuestras tiendas o ser enviados a tu casa</p>
<p><span> <strong> 2)¿Donde puedo puedo pedir un renbolso?</strong> </span></p>
<p> <strong>Respuesta :</strong> Puedes contactar con nosotros en alguna de nuestras redes</p>
<p><span> <strong>3) ¿Que metodos de pago aceptan ?</strong> </span>
</p>
<p> <strong>Respuesta :</strong> <strong>Para tu comodidad contamos con múltiples métodos para pagar tu compra, los cuales son: Depósito Bancario, Transferencia Bancaria, Depósito en tiendas Oxxo, Mercado Pago, PayPal, Tarjetas de Débito, Tarjetas de Crédito</strong> </p>
<p><span> <strong> 4) ¿CUÁNTO CUESTAN LOS ENVIOS?</strong> </span></p>
<p> <strong>Respuesta :</strong> Nuestros productos pueden llegar a cualquier parte de la república mexicana, para saber el precio de tu envió, únicamente agrega los productos que deseas a tu carrito de compra, una vez en el carrito selecciona en la casilla tipo de entrega la opción “A domicilio” la página calculará automáticamente el precio de tu envió y te lo mostrará.
</p>

<p><span> <strong> 5) ¿Donde se encuntran nuestras tiendas?</strong> </span></p>
<p> <strong>Respuesta :</strong> <strong>Le recordamos que enviamos a toda la república mexicana, desde nuestras tiendas que se encuentran en Guadalajara</strong> </p>
<p><span > <strong> 6) ¿Los productos cuentan con garantia?</strong> </span></p>
<p> <strong>Respuesta :</strong> Sí, todos nuestros productos cuentan con garantía, la cual es vigente dentro de un año, a no ser que en el producto se especifique otro periodo de garantía.</p>

</div>     
