<app-navbar></app-navbar>

<div class="text center">
    <h4>Se requiere una cuenta para hacer pedidos</h4>
    <h5> Checa nuestras promocines</h5>
</div>

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic" style="color:aquamarine">ElectricPanas</h1>
      <p class="lead my-3">Tu tienda de componentes de confianza</p>
    </div>
  </div>

<!--targetas-->
<div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark">Cables</a>
          </h3>
          <div class="mb-1 text-muted">Checa nuestros</div>
          <p class="card-text mb-auto">Cables hdm1 de hasta 5mts</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/img/productos/hdmi.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success"></strong>
          <h3 class="mb-0">
            <a class="text-dark" >Timbre</a>
          </h3>
          
          <div class="mb-1 text-muted">Nuevo Producto</div>
          <p class="card-text mb-auto">Timbre inalambrico para exteriores.</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/img/productos/timbre.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark">Buscas bases para TV</a>
          </h3>
          <div class="mb-1 text-muted">Contamos con varios modelos</div>
          <p class="card-text mb-auto">Para todo tipo de TVs y pantallas</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/img/Ejemplos/baseTv.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark">Focos</a>
          </h3>
          <div class="mb-1 text-muted">Nuevos focos rgb</div>
          <p class="card-text mb-auto">Nuevos productos en focos</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/img/Ejemplos/foco.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark">Bocinas</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">Contamos con bocinas de alta calidad</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/img/Ejemplos/bocina.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">
            <a class="text-dark">Alexa</a>
          </h3>
          <div class="mb-1 text-muted">Has tu casa inteligente</div>
          <p class="card-text mb-auto">Checa nuestras ofetas en productos de amazon</p>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="../../assets/img/Ejemplos/alexa.jpg" alt="Card image cap">
      </div>
    </div>
  </div>

